﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/main.css" type="text/css"  />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script type="text/javascript">
         $(function ()
         {
             $("#datepicker").datepicker();
         });
    </script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <!--<form id="form1" runat="server">-->
        <br />
        <br />
		<div align="center">
		    <table width="800" border="0" cellpadding="10" cellspacing="10">
                <tr>
                    <td height="30" colspan="4" align="right" class="underlinedSmallText">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="today_text_span"></span></td>
                </tr>
                <tr>
                    <td height="95" rowspan="2" align="right"><img src="/Images/andrew.png"/></td>
                    <td colspan="2" align="left"><img src="/Images/work/blank.png" width="20" /><img src="/Images/work/header.png" width="334" /></td>
                    <td width="70" align="left">@Html.Partial("_LoginPartial")</td>
                </tr>
		    </table>
            <p><img src="/Images/work/blank.png" height="2" /></p>

            <table>
                <tr>
                    <td valign="top">
                        편집할 페이지&nbsp;&nbsp;
                        <select id="select_pages" name="select_pages" class="clsText">
                            <option value="">페이지를 선택하세요...</option>
                            <option value="main">본당 소개</option>
                            <option value="board">게시판</option>
                            <option value="school">주일 학교</option>
                            <option value="mass">이번주미사</option>
                            <option value="upload">강론 업로드</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        편집할 날짜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" id="datepicker" class="clsText" value="@ViewBag.week_date" />
                    </td>
                    <!--<td valign="top">
                        <span id="title_span"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td valign="top">
                        <div id="new_title_text_span">
                            <a href="#" onclick="javascript:view_add_title(); return false;">새로운 제목 추가하기</a>
                        </div>
                    </td>
                    <td rowspan="false" valign="top">
                        <div id="new_title_span" style="display:none" >
                            <table cellpadding="3">
                                <tr>
                                    <td><input id="text_title" type="text" value="" style="width:400px" /></td>
                                    <td><input id="button_add" type="button" value="추가" onclick="javascript: add_title()" /></td>
                                    <td><input id="button_cancel" type="button" value="취소" onclick="javascript: cancel_add_title()" /></td>
                                </tr>
                            </table>
                        </div>
                    </td>-->
                </tr>
            </table>
            <br />

            <table id="table_title" cellspacing="3" cellpadding="3">
                <tr>
                    <td valign="top">
                        <select id="select_titles" name="select_titles" class="clsText">
                        </select>
                    </td>
                    <td valign="top">
                        <div id="new_title_text_span">
                            <a href="#" onclick="javascript:view_add_title(); return false;">새로운 제목 추가하기</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" valign="top">
                        <div id="new_title_span" style="display:none" >
                            <table cellpadding="3">
                                <tr>
                                    <td><input id="text_title" type="text" value="" style="width:400px" class="clsText" /></td>
                                    <td><input id="button_add" type="button" value="추가" class="clsText" onclick="javascript: add_title()" /></td>
                                    <td><input id="button_cancel" type="button" value="취소" class="clsText" onclick="javascript: cancel_add_title()" /></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <br />

            <div id="div_board" style="width:800px;" align="center">
            </div>

            <div style="width:800px;" align="center">

            @RenderBody()

            </div>
            <br />
            <br/>
            <hr width="500"/>
            <div align="center">
            <table id="Table1" cellspacing="0" cellpadding="0" width="650" border="0">
	            <tbody>
		            <tr>
			            <td class="clsSmallGray" style="PADDING-LEFT: 5px; PADDING-TOP: 10px" align="center">Copyright                                               
				            2007-2013. All Rights Reserved. St. Andrew Kim Catholic Church 1706 Bingle Rd.,                                               
				            Houston, Texas 77055                                              
			            </td>
		            </tr>
	            </tbody>
            </table>
            </div>
            <br />
            <br/>
            <br />
            <br/>
        </div>
    <!--</form>-->
</body>
</html>
