﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/main.css" type="text/css"  />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
</head>
<body>
        <br />
        <br />
		<div align="center">
		    <table width="800" border="0" cellpadding="10" cellspacing="10">
                <tr>
                    <td height="30" colspan="4" align="right" class="underlinedSmallText">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="today_text_span"></span></td>
                </tr>
                <tr>
                    <td height="95" rowspan="2" align="right"><img src="/Images/andrew.png"/></td>
                    <td colspan="2" align="left"><img src="/Images/work/blank.png" width="20" /><img src="/Images/work/header.png" width="334" /></td>
                    <td width="70" align="left">@Html.Partial("_LoginPartial")</td>
                </tr>
		    </table>
            <p><img src="/Images/work/blank.png" height="2" /></p>


        <div style="width:960px">

            @RenderBody()

        </div>
    </div>
    </body>
</html>
