﻿@model InputMVC4.Models.LoginModel

@{
    Layout = "_UserManage.cshtml";
}

@{
    ViewBag.Title = "성당 홈페이지 관리 - 로그인";
}

<table>
    <tr>
        <td>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "clsText" })
                @Html.ValidationMessageFor(m => m.UserName)
                <br />
                <br />

                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "clsText" })
                @Html.ValidationMessageFor(m => m.Password)
                <br />
                <br />

                <!--@Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                <br />-->

                <div style="margin-left:100px">
                    <input type="submit" value="Log in" class="clsText" />
                </div>
            }
        </td>
    </tr>
</table>
