﻿@model InputMVC4.Models.RegisterModel

@{
    Layout = "_UserManage.cshtml";
}

@{
    ViewBag.Title = "성당 홈페이지 관리 - 사용자 등록";
}

<table>
    <tr>
        <td align="left">
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "clsText" })
                <br />
                <br />

                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "clsText" })
                <br />
                <br />

                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "clsText" })
                <br />
                <br />

                <input type="submit" value="사용자 등록" class="clsText" />
            }
        </td>
    </tr>
</table>
