﻿@model IEnumerable<InputMVC4.Board>

<table width="100%" border="0" class="detailstable">
    <tr>
        <th id="header:1" class="title" style="width:10%"></th>
        <th id="header:2" class="title" style="width:70%"></th>
        <th id="header:3" class="title" style="width:20%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@Html.DisplayFor(modelItem => item.id)">
            <td style="vertical-align: middle;">
                <img align="textmiddle" border="0" src="~/Images/plus.gif"
                    id="img_sub_item_view_@Html.DisplayFor(modelItem => item.id)"
                    style="cursor:pointer;"
                    alt="Click here to add sub items."
                    item_id="@Html.DisplayFor(modelItem => item.id)" />
            </td>
            <td>
                <span id="text_item_@Html.DisplayFor(modelItem => item.id)" style="display:inline">
                    @Html.DisplayFor(modelItem => item.item)
                </span>
                <span id="edit_item_@Html.DisplayFor(modelItem => item.id)" style="display:none">
                    <textarea name="textarea_@Html.DisplayFor(modelItem => item.id)"
                        rows="5" cols="80" class="clsText"
                        id="textarea_@Html.DisplayFor(modelItem => item.id)"
                        col_name="item"
                        item_id="@Html.DisplayFor(modelItem => item.id)">@Html.DisplayFor(modelItem => item.item)</textarea>
                </span>
            </td>
            <td valign="top">
            <span id="to_item_edit_button_div_@Html.DisplayFor(modelItem => item.id)">
                <img id="img_item_edit_@Html.DisplayFor(modelItem => item.id)" src="~/Images/edit.gif" alt="수정" style="cursor:pointer;" item_id="@Html.DisplayFor(modelItem => item.id)" />&#160;
                <img id="img_item_delete_@Html.DisplayFor(modelItem => item.id)" src="~/Images/delete.jpg" width="20px" height="15px" alt="삭제" style="cursor:pointer;" item_id="@Html.DisplayFor(modelItem => item.id)" />
                <br/>
                <img id="img_item_deleting_@Html.DisplayFor(modelItem => item.id)" src="~/Images/loading_small.gif" style="display:none"/>
            </span>
            <span id="to_item_text_button_div_@Html.DisplayFor(modelItem => item.id)" style="display:none">
                <img id="img_item_update_@Html.DisplayFor(modelItem => item.id)" src="~/Images/ok.jpg" width="20px" height="20px" alt="확인" style="cursor:pointer;" item_id="@Html.DisplayFor(modelItem => item.id)" />&#160;
                <img id="img_item_cancel_@Html.DisplayFor(modelItem => item.id)" src="~/Images/cancel.jpg" width="20px" height="20px" alt="취소" style="cursor:pointer;" item_id="@Html.DisplayFor(modelItem => item.id)" />
                <br/>
                <img id="img_item_updating_@Html.DisplayFor(modelItem => item.id)" src="~/Images/loading_small.gif" style="display:none"/>
            </span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
            <div id="div_sub_board_@Html.DisplayFor(modelItem => item.id)" style="display: none;" item_id="_@Html.DisplayFor(modelItem => item.id)">
            </div>
            </td>
        </tr>
    }

    <tr>
        <td style="vertical-align: middle;"></td>
        <td>
            <span id="edit_item_0" style="display:inline">
            <textarea name="textarea_0" rows="5" cols="80" class="clsText" id="textarea_0" col_name="item" item_id="0" ></textarea>
            </span>
        </td>
        <td valign="top">
            <span id="to_item_text_button_div_0" style="display:inline">
                <img id="img_item_update_0" src="~/Images/ok.jpg" width="20px" height="20px" alt="확인" style="cursor:pointer;" item_id="0" />&#160;
                <br/>
                <img id="img_item_updating_0" src="~/Images/loading_small.gif" style="display:none" />
            </span>
        </td>
    </tr>
</table>
