﻿@model IEnumerable<InputMVC4.SubBoard>

@{
    Layout = null;
}

<table width="100%" border="0" class="detailstable">

    <tr>
        <th id="header:1" class="title" style="width:10%"></th>
        <th id="header:2" class="title" style="width:70%"></th>
        <th id="header:3" class="title" style="width:20%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="sub_@Html.DisplayFor(modelItem => item.id)">
            <!--<td style="vertical-align: middle;">
                <img align="textmiddle" border="0" src="~/Images/plus.gif"
                    id="img_sub_item_view_@Html.DisplayFor(modelItem => item.id)"
                    style="cursor:pointer;"
                    alt="Click here to add sub items."
                    sub_item_id="@Html.DisplayFor(modelItem => item.id)" />
            </td>-->
            <td></td>
            <td>
                <span id="text_sub_item_@Html.DisplayFor(modelItem => item.id)" style="color:darkmagenta;display:inline">
                    @Html.DisplayFor(modelItem => item.sub_item)
                </span>
                <span id="edit_sub_item_@Html.DisplayFor(modelItem => item.id)" style="display:none">
                    <textarea name="textarea_sub_@Html.DisplayFor(modelItem => item.id)"
                        rows="3" cols="60" class="clsText" style="background-color:aqua"
                        id="textarea_sub_@Html.DisplayFor(modelItem => item.id)"
                        col_name="sub_item"
                        item_id ="@Html.DisplayFor(modelItem => item.board_id)"
                        sub_item_id="@Html.DisplayFor(modelItem => item.id)">@Html.DisplayFor(modelItem => item.sub_item)</textarea>
                </span>
            </td>
            <td valign="top">
            <span id="to_sub_item_edit_button_div_@Html.DisplayFor(modelItem => item.id)">
                <img id="img_sub_item_edit_@Html.DisplayFor(modelItem => item.id)" src="~/Images/edit.gif" alt="수정" style="cursor:pointer;" item_id ="@Html.DisplayFor(modelItem => item.board_id)" sub_item_id="@Html.DisplayFor(modelItem => item.id)" />&#160;
                <img id="img_sub_item_delete_@Html.DisplayFor(modelItem => item.id)" src="~/Images/delete.jpg" width="20px" height="15px" alt="삭제" style="cursor:pointer;" item_id ="@Html.DisplayFor(modelItem => item.board_id)" sub_item_id="@Html.DisplayFor(modelItem => item.id)" />
                <br/>
                <img id="img_sub_item_deleting_@Html.DisplayFor(modelItem => item.id)" src="~/Images/loading_small.gif" style="display:none"/>
            </span>
            <span id="to_sub_item_text_button_div_@Html.DisplayFor(modelItem => item.id)" style="display:none">
                <img id="img_sub_item_update_@Html.DisplayFor(modelItem => item.id)" src="~/Images/ok.jpg" width="20px" height="20px" alt="확인" style="cursor:pointer;" item_id ="@Html.DisplayFor(modelItem => item.board_id)" sub_item_id="@Html.DisplayFor(modelItem => item.id)" />&#160;
                <img id="img_sub_item_cancel_@Html.DisplayFor(modelItem => item.id)" src="~/Images/cancel.jpg" width="20px" height="20px" alt="취소" style="cursor:pointer;" item_id ="@Html.DisplayFor(modelItem => item.board_id)" sub_item_id="@Html.DisplayFor(modelItem => item.id)" />
                <br/>
                <img id="img_sub_item_updating_@Html.DisplayFor(modelItem => item.id)" src="~/Images/loading_small.gif" style="display:none"/>
            </span>
            </td>
        </tr>
        <!--<tr>
            <td></td>
            <td colspan="2">
            <div id="sub_div__@Html.DisplayFor(modelItem => item.id)" style="display: none;" sub_item_id="_@Html.DisplayFor(modelItem => item.id)">
            </div>
            </td>
        </tr>-->
    }

    <tr>
        <!--<td style="vertical-align: middle;"></td>-->
        <td></td>
        <td>
            <span id="edit_sub_item_@Html.Raw(ViewBag.board_id)_0" style="display:inline">
            <textarea name="textarea_sub_@Html.Raw(ViewBag.board_id)_0" rows="3" cols="60" id="textarea_sub_@Html.Raw(ViewBag.board_id)_0" class="clsText" col_name="sub_item" item_id ="@ViewBag.board_id" sub_item_id="0" style="background-color:lightcyan" ></textarea>
            </span>
        </td>
        <td valign="top">
            <span id="to_sub_item_text_button_div_@Html.Raw(ViewBag.board_id)_0" style="display:inline">
                <img id="img_sub_item_update_@Html.Raw(ViewBag.board_id)_0" src="~/Images/ok.jpg" width="20px" height="20px" alt="확인" style="cursor:pointer;" item_id ="@ViewBag.board_id" sub_item_id="0" />&#160;
                <br/>
                <img id="img_sub_item_updating_@Html.Raw(ViewBag.board_id)_0" src="~/Images/loading_small.gif" style="display:none" />
            </span>
        </td>
    </tr>
</table>
