﻿@model IEnumerable<InputMVC4.BoardTitle>

@{
    Layout = null;
}

<option value=""></option>
@foreach (var item in Model)
{
    <option value="@Html.DisplayFor(modelItem => item.id)">@Html.DisplayFor(modelItem => item.title)</option>
}

