﻿
@model IEnumerable<InputMVC4.BibleGospel>

@{
    ViewBag.Title = "성당 홈페이지 관리 - 이번주 미사";
}

@using InputMVC4.Helpers

@section Scripts{
    <script type="text/javascript" src="~/Scripts/mass.js"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#table_title").hide();
            select_page('@ViewBag.page_id');
            //find_titles('mass');

            $("img[id^='img_edit_']").click(function ()
            {
                var item_id = $(this).attr("item_id");
                $("#group_" + item_id).val($("#group_" + item_id).attr("group_id"));
                $("#view_" + item_id).hide();
                $("#edit_" + item_id).show();
            });
            $("img[id^='img_delete_']").click(function ()
            {
                if (!confirm("선택한 내용을 삭제하시겠습니까?")) return;
                var item_id = $(this).attr("item_id");
                delete_mass(item_id);
            });
            $("img[id^='img_update_']").click(function ()
            {
                var item_id = $(this).attr("item_id");
                var date = $("#datepicker").val();
                var title = $("#title_" + item_id).val();
                var group_id = $("#group_" + item_id).val();
                var from_chapter = $("#from_chapter_" + item_id).val();
                var from_num = $("#from_num_" + item_id).val();
                var to_chapter = $("#to_chapter_" + item_id).val();
                var to_num = $("#to_num_" + item_id).val();
                update_mass(item_id, title, group_id, from_chapter, from_num, to_chapter, to_num);
            });
            $("img[id^='img_cancel_']").click(function ()
            {
                var item_id = $(this).attr("item_id");
                $("#view_" + item_id).show();
                $("#edit_" + item_id).hide();
            });
            $("#img_add").click(function ()
            {
                var date = $("#datepicker").val();
                var title = $("#title_0").val();
                var group_id = $("#group_0").val();
                var from_chapter = $("#from_chapter_0").val();
                var from_num = $("#from_num_0").val();
                var to_chapter = $("#to_chapter_0").val();
                var to_num = $("#to_num_0").val();
                add_mass(date, title, group_id, from_chapter, from_num, to_chapter, to_num);
            });
        });
    </script>
}

<table width="100%" border="0" class="detailstable">
    <tr>
        <!--<th id="header:1" class="title">날짜</th>-->
        <th id="header:2" class="title">주일명</th>
        <th id="header:3" class="title">복음</th>
        <th id="header:4" class="title">시작장</th>
        <th id="header:5" class="title">시작절</th>
        <th id="header:6" class="title">끝장</th>
        <th id="header:7" class="title">끝절</th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr id="view_@Html.DisplayFor(modelItem => item.id)" style="text-align:center">
                <!--<td>
                    @Html.DisplayDate(item.week_date)
                </td>-->
                <td>
                    @Html.DisplayFor(modelItem => item.week_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BibleGroup.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.from_chapter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.from_num)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.to_chapter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.to_num)
                </td>
                <td>
                    <img id="img_edit_@Html.DisplayFor(modelItem => item.id)" src="~/Images/edit.gif" alt="수정" style="cursor:pointer;" item_id="@Html.DisplayFor(modelItem => item.id)" />
                </td>
                <td>
                    <img id="img_delete_@Html.DisplayFor(modelItem => item.id)" src="~/Images/delete.jpg" width="20px" height="15px" alt="삭제" style="cursor:pointer;" item_id="@Html.DisplayFor(modelItem => item.id)" />
                </td>
            </tr>
            <tr id="edit_@Html.DisplayFor(modelItem => item.id)" style="text-align:center;display:none">
                <!--<td>
                    @Html.DisplayDate(item.week_date)
                </td>-->
                <td>
                    <input type="text" class="clsText" id="title_@Html.DisplayFor(modelItem => item.id)" value="@Html.DisplayFor(modelItem => item.week_title)" style="width:300px" />
                </td>
                <td>
                    <select class="clsText" id="group_@Html.DisplayFor(modelItem => item.id)" group_id="@Html.DisplayFor(modelItem => item.group_id)">
                        @foreach (var group in ViewBag.group_list)
                        {
                            <option value="@group.Value">@group.Text</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="text" class="clsText" id="from_chapter_@Html.DisplayFor(modelItem => item.id)" value="@Html.DisplayFor(modelItem => item.from_chapter)" style="width:50px" />
                </td>
                <td>
                    <input type="text" class="clsText" id="from_num_@Html.DisplayFor(modelItem => item.id)" value="@Html.DisplayFor(modelItem => item.from_num)" style="width:50px" />
                </td>
                <td>
                    <input type="text" class="clsText" id="to_chapter_@Html.DisplayFor(modelItem => item.id)" value="@Html.DisplayFor(modelItem => item.to_chapter)" style="width:50px" />
                </td>
                <td>
                    <input type="text" class="clsText" id="to_num_@Html.DisplayFor(modelItem => item.id)" value="@Html.DisplayFor(modelItem => item.to_num)" style="width:50px" />
                </td>
                <td>
                    <img id="img_update_@Html.DisplayFor(modelItem => item.id)" src="~/Images/ok.jpg" width="20px" height="20px" alt="확인" style="cursor:pointer;" item_id="@Html.DisplayFor(modelItem => item.id)" />
                </td>
                <td>
                    <img id="img_cancel_@Html.DisplayFor(modelItem => item.id)" src="~/Images/cancel.jpg" width="20px" height="20px" alt="취소" style="cursor:pointer;" item_id="@Html.DisplayFor(modelItem => item.id)" />
                </td>
            </tr>
        }
        <tr id="add_0" style="text-align:center">
            <!--<td id="add_date_td">
            </td>-->
            <td>
                <input type="text" class="clsText" id="title_0" value="" style="width:300px" />
            </td>
            <td>
                <select class="clsText" id="group_0">
                    @foreach (var group in ViewBag.group_list)
                    {
                        <option value="@group.Value">@group.Text</option>
                    }
                </select>
            </td>
            <td>
                <input type="text" class="clsText" id="from_chapter_0" value="" style="width:50px" />
            </td>
            <td>
                <input type="text" class="clsText" id="from_num_0" value="" style="width:50px" />
            </td>
            <td>
                <input type="text" class="clsText" id="to_chapter_0" value="" style="width:50px" />
            </td>
            <td>
                <input type="text" class="clsText" id="to_num_0" value="" style="width:50px" />
            </td>
            <td colspan="2">
                <img id="img_add" src="~/Images/ok.jpg" width="20px" height="20px" alt="확인" style="cursor:pointer;" />
            </td>
        </tr>
    }
</table>
