﻿
@{
    ViewBag.Title = "성당 홈페이지 관리 - 강론 업로드";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#table_title").hide();
            select_page('@ViewBag.page_id');
            //find_titles('index');
        });

        function set_data()
        {
            var week_date = $("#datepicker").val();
            if (week_date == "")
            {
                alert("강론 날짜를 먼저 선택해 주십시요.");
                return false;
            }
            if ($("#FileUpload1").val() == "")
            {
                alert("강론 파일을 먼저 선택해 주십시요.");
                return false;
            }
            $("#week_date").val(week_date);
            $("#div_message").html("파일을 업로드중입니다. 잠시만 기다려 주십시요....");
        }
    </script>
}

@using (Html.BeginForm((string)ViewBag.FormAction, "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    <b>강론 파일 : </b>
    <input type="file" id="FileUpload1" name="FileUpload1" class="clsText" / ><br />
    <input type="hidden" id="week_date" name="week_date" /><br />
    <input type="submit" value="저장하기" class="clsText" onclick="javascript:set_data()" />
}
<br />

<div id="div_message">
    <b>@ViewBag.message</b>
</div>